<header class="header" data-section-theme="light">
    <div class="container">
        <div class="logo">
        <a href="/HBnB">
            <img src="/static/images/logo.png" alt="hbnb logo" width="160" height="40">
        </a>
        </div>
        <nav class="navbar-menu">
        <ul class="nav" id="nav-menu">
            <li class="nav-item">
            <a href="/HBnB" class="nav-link {% if current_page == 'places' %}active{% endif %}">Places</a>
            </li>
            <!-- <li class="nav-item">
            <a href="/HBnB/register" class="nav-link {% if current_page == 'register' %}active{% endif %}">Sign-in</a>
            </li> -->
        </ul>
        </nav>
    </div>
</header>